<li class="song" id="song-<%= song.id %>">
  <div class="title"><%= song.title %></div>
  <div class="player"><%= raw song.embed_code %></div> 
  <div class="likes"><span id="likes-for-<%= song.id %>"><%= song.likes.count %></span>  like(s)</div>
  <div class="click-like">
    <%= render partial: "likes/form", :locals => {:song => song, :like => @like} %>
  </div>
  <div>
    <p>What people think:</p>
    <ul class="comments-list-<%= song.id %>">
      <% song.comments.recent.each do |comment| %>
        <%= render comment %>
      <% end %>
    </ul>
  </div>
  <div class="comment-form">
    <p>Add a comment:</p>
    <%= render partial: "comments/form", :locals => {:song => song, :comment => @comment} %>
  </div>
</li>