<li class="song" id="song-<%= song.id %>">
  <h4 class="title"><%= song.title %></h4>
  <div class="player"><%= raw song.embed_code %></div> 
  <div class="likes-box">
    <div class="likes"><span id="likes-for-<%= song.id %>"><%= song.likes.count %></span>  like(s)</div>
    <div class="click-like">
      <%= render partial: "likes/form", :locals => {:song => song, :like => @like} %>
    </div>
  </div>
  <div class="comments-box">
    <ul class="comments-list-<%= song.id %>">
      <% song.comments.recent.each do |comment| %>
        <%= render comment %>
      <% end %>
    </ul>
  </div>
  <div class="comment-form">
    <p>Add a comment:</p>
    <%= render partial: "comments/form", :locals => {:song => song, :comment => @comment} %>
  </div>
</li>