<li class="song" id="song-<%= song.id %>">
  <div class="title"><%= song.title %></div>
  <div class="player"><%= raw song.embed_code %></div> 
  <div class="likes"><%= song.likes.count %><%= song.likes.count == 1 ? " like" : " likes" %></div>
  <div class="comments-list">
    <ul>
      <% song.comments.recent.each do |comment| %>
        <%= render comment %>
      <% end %>
    </ul>
  </div>
  <div>
    <p>Add a comment:</p>
    <%= form_for([song, @comment]) do |f| %>
    <%= f.label :body, 'Comment:' %>
    <%= f.text_area :body %>
    <%= f.submit 'Save', class: "button-primary" %>
    <% end %>
  </div>
</li>